Examinator/Examinator/Service References/PasswordSVC/PassordResetService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="forgotPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="forgotPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="forgotPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="forgotPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:forgotPassword" />
  </wsdl:message>
  <wsdl:message name="forgotPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:forgotPasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="PassordResetServiceSoap">
    <wsdl:operation name="forgotPassword">
      <wsdl:input message="tns:forgotPasswordSoapIn" />
      <wsdl:output message="tns:forgotPasswordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PassordResetServiceSoap" type="tns:PassordResetServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="forgotPassword">
      <soap:operation soapAction="http://tempuri.org/forgotPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PassordResetServiceSoap12" type="tns:PassordResetServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="forgotPassword">
      <soap12:operation soapAction="http://tempuri.org/forgotPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PassordResetService">
    <wsdl:port name="PassordResetServiceSoap" binding="tns:PassordResetServiceSoap">
      <soap:address location="http://localhost:47227/PassordResetService.asmx" />
    </wsdl:port>
    <wsdl:port name="PassordResetServiceSoap12" binding="tns:PassordResetServiceSoap12">
      <soap12:address location="http://localhost:47227/PassordResetService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>